$navy_blue:rgb(24, 18, 30);
$gun_metal:rgb(35, 50, 55);
$rusty_red:rgb(152, 75, 67);
$warm_yellow:rgb(234, 198, 122);
$shell:rgb(248, 238, 231);
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
$font_sacramento:Sacramento,
cursive;
$font_slider: 'Great Vibes',
sans-serif;
$font_content: 'Happy Monkey',
cursive;
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#header-bar {
    width: 100%;
    height: 6vh;
    background: $navy_blue;
    img {
        width: 4vw;
        height: 4vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
        border: 0.5vw solid $navy_blue;
        position: absolute;
        top: 0px;
        left: 6vw;
        z-index: 2;
    }
    h1 {
        line-height: 6vh;
        color: $shell;
        position: absolute;
        top: 0px;
        left: 12vw;
        font-size: 2vw;
        font-family: $font_sacramento;
    }
}

.container {
    width: 100vw;
    height: 94vh;
    position: absolute;
    top: 6vh;
    background-color: $rusty_red;
    overflow: hidden;
    .box {
        width: 90%;
        height: 90%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        background-color: $navy_blue;
        border-radius: 0.5vw;
        opacity: 0.9;
        padding: 4vw;
        z-index: 1;
        #slider {
            display: inline-block;
            list-style: none;
            width: 50%;
            height: 100%;
            border-right: 2pt solid $rusty_red;
            box-sizing: border-box;
            overflow: hidden;
            li {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                position: relative;
                div {
                    font-family: $font_slider;
                    text-align: center;
                    position: absolute;
                    width: 100%;
                    margin-top: -0.75em;
                    top: 50%;
                    font-size: 8vw;
                    color: $shell;
                }
            }
            #indicator {
                margin-left: -2em;
                margin-top: -1.5em;
                list-style: none;
                position: fixed;
                top: 50%;
                left: 50%;
            }
        }
        #content-box {
            float: right;
            display: inline-block;
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            padding: 1.5vw;
            font-family: $font_content;
            color: $shell;
            #home {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                position: relative;
                div {
                    position: relative;
                    top: 20%;
                    margin-top: -4vh;
                    h1:first-child {
                        font-family: $font_sacramento;
                        font-size: 5vw;
                        color: $rusty_red;
                        text-align: left;
                    }
                    p {
                        font-family: $font_content;
                        font-size: 1.5vw;
                        color: $shell;
                        text-align: center;
                    }
                    h1:nth-child(3) {
                        font-family: $font_content;
                        font-size: 3vw;
                        color: $shell;
                        font-weight: bold;
                        text-align: right;
                    }
                    hr {
                        margin-top: 2vw;
                        margin-bottom: 1vw;
                        display: block;
                        border-style: inset;
                        border-width: 1px;
                        width: 60%;
                        border-color: $warm_yellow;
                    }
                    p:last-child {
                        padding: 1.5vw;
                        text-align: left;
                        font-size: 1.5vw;
                        span {
                            font-style: italic;
                            color: $warm_yellow;
                        }
                    }
                }
            }
            #works {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                #up {
                    border: 0.1vw solid $navy_blue;
                    position: fixed;
                    top: 20vh;
                    left: 70vw;
                }
                #down {
                    border: 0.1vw solid $navy_blue;
                    position: fixed;
                    top: 82vh;
                    left: 70vw;
                }
                #up:hover {
                    border: 0.1vw solid $shell;
                }
                #down:hover {
                    border: 0.1vw solid $shell;
                }
                section {
                    width: 100%;
                    height: 100%;
                    padding: 1vw;
                    box-sizing: border-box;
                    overflow: auto;
                    div {
                        position: relative;
                        top: 25%;
                        margin-top: -1vw;
                        box-sizing: border-box;
                        padding: 1vw;
                        h1 {
                            margin-bottom: 0.5vw;
                            font-size: 2vw;
                        }
                        p {
                            font-size: 0.8vw;
                        }
                        a {
                            text-decoration: none;
                            margin-top: 0.5vw;
                            float: right;
                            background-color: $warm_yellow;
                            padding: 0.5vw;
                            box-sizing: border-box;
                            margin-right: 0.5vw;
                            border-radius: 0.5vw;
                            color: $rusty_red;
                        }
                        a:hover {
                            background-color: $rusty_red;
                            color: $warm_yellow;
                        }
                    }
                }
            }
        }
    }
}